<html>
  <head>
    <title>1vs1 Coding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <style>
          .myCustom{margin: 8px 30px;}
      </style>
    <a class="btn btn-info myCustom" href="/contest/1">Room 1</a><br>
    <a class="btn btn-info myCustom" href="/contest/2">Room 2</a><br>
    <a class="btn btn-info myCustom" href="/contest/3">Room 3</a><br>
    <a class="btn btn-info myCustom" href="/contest/4">Room 4</a><br>
    <a class="btn btn-info myCustom" href="/contest/5">Room 5</a><br>
    <a class="btn btn-info myCustom" href="/contest/6">Room 6</a><br>
    <a class="btn btn-info myCustom" href="/contest/7">Room 7</a><br>
    <a class="btn btn-info myCustom" href="/contest/8">Room 8</a><br>
  </body>
</html>
